@font-face{
	font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf');
  font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'HelveticaNeueBold';
  src: url('../fonts/HelveticaNeueBold.ttf');
  font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'HelveticaNeueMedium';
	src: url('../fonts/HelveticaNeueMedium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'HelveticaThin';
	src: url('../fonts/HelveticaThin.ttf');
	font-weight: normal;
	font-style: normal;
}
