@import 'base/fonts';
@import 'base/variables';
@import 'base/buttons';

html, body {
  font-family: 'HelveticaNeue';
  font-size: 14px;
  color: $main-text;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

img.svg {
  width: 12px;
  height: 12px;
  fill: #000;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

@import 'blocks/header';
@import 'blocks/slickSlider';
@import 'blocks/media';